@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Plus+Jakarta+Sans:wght@700&display=swap");
/* 
body {
  font-family: "Poppins", "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
} */
